html, body, .css3demos-view { 
    height: 100%;
}

.css3demos-view {
    position: relative;
    background: url("../img/bk.jpg") repeat 0 0;
    background-size: 170.6px auto;

    .btn-next, .btn-prev {
        position: fixed;
        z-index: 1000;
    }

    .btn-prev {
        left: 0;
    }

    .btn-next {
        right: 0;
    }
}




@import "scene-1";
@import "scene-2";
@import "scene-3";
@import "scene-4";

