/**
 * Scene 4
 */
.css3demos-view.scene_4 {

    .ray-layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../img/ray.png") no-repeat center center;
        background-size: 100% auto; 
    }

    .lamp-shine-layer {
        position: absolute;
        top: -5%;
        left: 0;
        right: 0;
        height: 100%;
        background: url("../img/lamp-shine.png") no-repeat center bottom;
        background-size: 50% auto; 
    }

    &.scene_4_1 {

        .spirit-layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background: url("../img/spirit.png") no-repeat center center;
            background-size: 96% auto; 
        }

        .cloud-1-layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background: url("../img/cloud-1.png") no-repeat 94% 70%;
            background-size: 60% auto; 
        }

        .cloud-2-layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: url("../img/cloud-1.png") no-repeat 10% 50%;
            background-size: 50% auto; 
        }

        .cloud-3-layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background: url("../img/cloud-2.png") no-repeat -18% 70%;
            background-size: 52% auto; 
        }

    }

}


