/**
 * Scene 2
 */
.css3demos-view.scene_2 {

    .ray-layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../img/ray.png") no-repeat center center;
        background-size: 100% auto; 
    }

    .lamp-shine-layer {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../img/lamp-shine.png") no-repeat center center;
        background-size: 80% auto; 
    }

}


