/**
 * Scene 1
 */


.css3demos-view.scene_1 {

    .lamp-layer {
        .position-abs();
        top: 80px;
        background: url("../img/lamp.png") no-repeat center center;
        background-size: 80% auto; 
    }

    &.scene_1_1 {

        .tingshuo-layer {
            .position-abs();
            background-position: center center;
            background-size: 82% auto; 

            &.jello {
                .jello();
            }

        }

        &.scene_1_2 {

            .tingshuo-layer {

                &.holeOut {
                    .holeOut();
                }
            
            }

            .ray-layer {
                .position-abs();
                background: url("../img/ray.png") no-repeat center center;
                background-size: 100% auto; 

                /*
                &.rotating {
                    .rotating();
                }
                */
                    
            }

            .lamp-layer {

                &.shake {
                    .shake();
                }

            }

        }

    }

}


