/**
 * Scene 3
 */
.css3demos-view.scene_3 {

    .ray-layer {
        .position-abs();
        z-index: @ray_layer_zindex;
        background-size: 100% auto; 
        background-position: center center;

        &.rotating {
            .rotating();
        }

    }

    .lamp-shine-layer {
        .position-abs();
        top: 8%;
        bottom: auto;
        height: 100%;
        z-index: @lamp_shine_layer_zindex;
        background-position: center center;
        background-size: 80% auto; 
    }

    &.scene_3_1 {

        .cadeng-layer {
            .position-abs();
            top: -18%;
            bottom: auto;
            z-index: @cadeng_layer_zindex;
            height: 100%;
            background-position: center center;
            background-size: 60% auto; 
            
            &.jello {
                .jello();
            }

        }

        &.scene_3_2 {

            .cadeng-layer.holeOut {
                .holeOut();
            }

            .lamp-shine-layer.shining {
                .shining();
            }
            
        }

    }

}


