/**
 * Scene 4
 */
.css3demos-view.scene_4 {

    .ray-layer {
        .position-abs();
        z-index: @ray_layer_zindex;
        background-size: 100% auto; 
        background-position: center center;

        &.rotating {
            .rotating();
        }
    }

    .lamp-shine-layer {
        .position-abs();
        top: 8%;
        bottom: auto;
        height: 100%;
        z-index: @lamp_shine_layer_zindex;
        background-size: 80% auto; 
        background-position: center center;
        -webkit-filter: drop-shadow(0 0 18px #fff);

        &.zoomoutToBottom {
            .zoomoutToBottom();     
        }

    }


    &.scene_4_1 {

        .lamp-shine-layer {
            -webkit-filter: none;
        }

        .spirit-layer {
            .position-abs();
            z-index: @spirit_layer_zindex;
            background-size: 80% auto; 
            background-position: 10% center;

            &.zoominFromBottom {
                .zoominFromBottom();
            }
        }

        .cloud-1-layer {
            .position-abs();
            z-index: @cloud_1_layer_zindex;
            background-position: 94% 70%;
            background-size: 60% auto; 

            &.zoominFromBottom {
                .zoominFromBottom();
            }
        }

        .cloud-2-layer {
            .position-abs();
            z-index: @cloud_2_layer_zindex;
            background-position: 10% 50%;
            background-size: 50% auto; 

            &.zoominFromBottom {
                .zoominFromBottom();
            }
        }

        .cloud-3-layer {
            .position-abs();
            z-index: @cloud_3_layer_zindex;
            background-position: -18% 70%;
            background-size: 52% auto; 

            &.zoominFromBottom {
                .zoominFromBottom();
            }
        }


        &.scene_4_2 {

            .spirit-layer {
                &.shining {
                    .shining(2s; linear; infinite);
                }
            }

            .cloud-1-layer {
                &.shake {
                    .shake(5s);
                }
            }

            .cloud-2-layer {
                &.shake {
                    .shake(5s);
                }
            }

            .cloud-3-layer {
                &.shake {
                    .shake(5s);
                }
            }


            /* mixins */
            .coin-layer () {
                position: absolute;
                width: 11%;
                height: 11%;
                z-index: @coin_1_layer_zindex;
                background-size: 100% auto;
            }

            .coin-1-layer {
                .coin-layer();
                top: 36%;
                left: 80%;
            }

            .coin-2-layer {
                .coin-layer();
                top: 53%;
                left: 32%;
                -webkit-filter: blur(1px);
            }

            .coin-3-layer {
                .coin-layer();
                top: 71%;
                left: 5%;
                -webkit-filter: blur(1px);
            }

            .coin-4-layer {
                .coin-layer();
                top: 73%;
                left: 48%;
                -webkit-transform: scale(.5, .5);
                -webkit-filter: blur(1px);
            }

            .coin-5-layer {
                .coin-layer();
                top: 78%;
                left: 70%;
                -webkit-transform: scale(.7, .7);
                -webkit-filter: blur(1px);
            }

        }

    }

}


